[defaults]
inventory            = ./inventory.ini
roles_path           = ./roles
host_key_checking    = True
retry_files_enabled  = False
interpreter_python   = auto_silent
stdout_callback      = yaml
force_color          = True
nocows               = True

[privilege_escalation]
become        = True
become_method = sudo

[ssh_connection]
pipelining = True
# Reuse SSH connections to speed up multi-task runs.
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s
